* {
    box-sizing: border-box;
}

header {
    border: 2px solid black;
    width: 1200px;
    margin: auto;
}

img {
    width: 64px;
    border-radius: 34px;
    margin: auto;
    display: block;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    text-align: center;
}

.box {
    border: 4px solid black;
    background-color: grey;
    margin: 4px 0px;
    padding: 23px;
    width: 33%;
    box-sizing: border-box;
    display: inline-block;
}

.container {
    width: 1200px;
    margin: auto;
}