.container{
    display: grid;
    /* grid-template-columns: 300px 100px 100px; */
    /* grid-template-columns: 300px auto 100px; */
    /* grid-template-columns: 1fr 4fr 1fr; */
    grid-template-columns: repeat(3, auto);
    grid-gap: 4px;
}

.item{
    /* height: 100px;
    width: 100px; */
    background-color: red;
    border: 2px solid black;
    margin: 3px;
    padding: 15px 5px;
}

.item:hover{
    background-color: cyan;
}