/*CSS Positions: static (default), absolute, relative, fixed, sticky */
.container{
    border:2px solid black ;
    background-color: khaki;
    height: 3444px;
}

.box{
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 2px;
}

#box3{
    /* position: static; */
    /* position: static --> this is the default value of the position and it has no effect of any properties.*/
    /* position: relative;  */
    /* position: relative: Position of elements are relative to its normal position and will leave a gap at its normal position  */
    /* position:absolute; */
    /* Position absolute: :Position of elements are  relative to the position of its first parent, mean by using thsi property the element will move without disturbing the parent element */
    /* position: fixed;*/
    /* position fixed : :Position of elements are  relative to the  browser window */
     /* right: 4px;
     bottom: 2px;  */
        
     position: sticky;
     top: 3px;

    /* top: 34px;
    left: 134px; */
}