p{
    color:blue;
}
/* Id Selector */
#Element{
    color: indigo;
}
#superclass{
    color:tomato;
    background-color: gold;
}
#statics{
    color: green;
}
/* class selector */
.newClass{
    color: tomato;
}
/* Grouping Selector */
footer,span{
    background-color: goldenrod;
    color: white;
}
#Border{
    border: 2px solid purple;
}
/* This is how you comment out in a Css file */
